#site-header {
    display: flex;
    flex-direction: row;
    color: #5c5c5c;
    background-color: #f5f5f5;
    font-family: 'Bitter', serif;
    padding: 0 5rem;
    justify-content: space-between;
}
#site-header > .header-section {
    padding: 10px 0.75rem;
}
.header-section#header-nav-links {
    display: flex; 
    align-self: flex-end;
    font-size: 1rem;
}
.header-section#header-nav-links > div {
    padding: 10px 1rem;
    cursor: pointer;
}
.header-section a {
    color: unset;
    text-decoration: none;
}
#home-page-carousel {
    height: fit-content;
    position: relative;
    text-align: center;
}
#home-page-carousel {
    position: relative;
    height: 600px;
    overflow: hidden;
}
#home-page-carousel .title-image-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top:175px;
    color: white;
    text-align:left;
    padding-left: 10%;
}
#home-page-carousel .title-image-text h2 {

}
#home-page-carousel .title-image-bg-container img {
    width: 103%;
    height: 103%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home-page-carousel .title-image-bg-container {
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#home-page-content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#home-page-links {
    width: 25%;
    background-color: black;
    color: white;
    padding: 20px;
    height: fit-content;
}
#home-page-links a {
    font-size: 14pt;
    margin: 5px 5px;
    display: block;
    cursor: pointer;
}
#aura-divisions {
    display: flex;
    flex-direction: row;
    font-size: 16pt;
    margin-top: 10px;
}
#aura-divisions > div {
    flex-basis: 33.33333%;
}
#aura-divisions .section-img {
    height: 150px;
    background-size: contain !important;
    text-align: center;
}
#aura-divisions .usli-desc .section-img {
    background: url(./res/img/nasa_meatball.svg) center center no-repeat;
}
#aura-divisions .spaceport-desc .section-img {
    background: url(./res/img/spaceport-cup-logo.png) center center no-repeat;
}